html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  appearance: none;
  border: none;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded";
  background-image: linear-gradient(to right, #3898FF, #7A70FF);
  display: inline-flex;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  padding: 0 24px;
  border-radius: 9999px;
  align-items: center;
  color: white;
  transition: all ease 100ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;